h3.title 1.Event Details
.form-group
  label(for="title") Title
  input.form-control(type="text", name="title", placeholder="What is your event title?", value=question.title)
.form-group
  label(for="question") location  
  input.form-control(type='text')
.container
 .row
 label(for="question") STARTS
  .col 
  input.form-control(type='date')
  input.form-control(type='time')
  label(for="question") ENDS
  input.form-control(type='date')
  input.form-control(type='time')
.form-group
  label(for="question") EVENT DESCRIPTION
  textarea.form-control(name="content", rows="3")= question.content
.form-group
  label(for="question") ORGANIZER NAME 
  input.form-control(type='text')
.form-group
  label(for="question") ORGANIZER DESCRIPTION
  textarea.form-control(name="content", rows="2")= question.content  
h3.title 2.Create Tickets
.form-check.form-check-inline
  label.form-check-label
    input#inlineRadio1.form-check-input(type='radio' name='inlineRadioOptions' value='option1')
    |  Free event
.form-check.form-check-inline
  label.form-check-label
    input#inlineRadio2.form-check-input(type='radio' name='inlineRadioOptions' value='option2')
    |  Charged event 
.col-auto
  label.sr-only(for='inlineFormInputGroup') price
  .input-group.mb-2.mb-sm-0
    .input-group-addon $
    input#inlineFormInputGroup.form-control(type='text' placeholder='price')
h3.title 3.Additional Settings
.form-group
  label(for='exampleFormControlSelect1') EVENT TYPE
  select#exampleFormControlSelect1.form-control
    option(selected='') Select the type of event
    option Appearance or Signing
    option Attraction
    option Camp,Trip, or Retreat 
    option Class, Training, or Workshop
    option Concert or Performance
    option Conference
    option Dinner or Gala
    option Festival or Fair
    option Game or competition
    option etc

  .form-group
  label(for='exampleFormControlSelect1') EVENT TOPIC
  select#exampleFormControlSelect1.form-control
    option(selected='') Select the type of event
    option Appearance or Signing
    option Attraction
    option Camp,Trip, or Retreat 
    option Class, Training, or Workshop
    option Concert or Performance
    option Conference
    option Dinner or Gala
    option Festival or Fair
    option Game or competition
    option etc 

.form-group
  label(for="tags") Tags
  input.form-control(type="text", name="tags", placeholder="tags separated by spaces", value=question.tags ? question.tags.join(" ") : "")
p